.top-bar {
  background-color: #202020;
  text-align: center;
}

.search-input {
  background: #222;
  border: none;
  outline: none;
  max-width: 190px;
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: 9999px;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  color: #fff;
  margin: 1rem;
}

.planner-btn {
  background-color: #8e484b;
  margin-top: 1rem;
  cursor: pointer;
}
.planner-btn:hover {
  background-color: #6b2f32;
}
